
.searchWrapper{
  display: flex;
  width: 168px;
  height: 44px;
  position: relative;
}

.input{
  width: 112px;
  height: 40px;
  border: 1px solid rgba(239, 241, 243, 0.5);
  padding-right: 14px;
  padding-left: 40px;
  outline:none;
  font-family: Qanelas;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.input::-webkit-input-placeholder {
  font-family: Qanelas;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: rgba(140, 140, 140, 0.5);
 }

.input:hover{
  border: 1px solid #8C8C8C;
}

.svgSearch{
  position: absolute;
  left: 12px;
  top: calc(50% - 20px/2);
  opacity: 0.5;
}
.svgX{
  position: absolute;
  right: 12px;
  top: calc(50% - 20px/2);
  opacity: 0.5;
}